[user]
    email = m@mdorst.net
    user = git
    name = Michael Dorst
[alias]
    s = status -s -u
    l = log --oneline --graph --branches --remotes --tags head
    ll = log --graph --branches --remotes --tags head
	c = commit
    ls = ls-tree -r --name-only
    unstage = reset head
	fixup = commit --fixup head
[core]
    pager = less -X -F
[color]
    ui = always
[credential]
    helper = store
[rebase]
	autosquash = true
