[user]
    email = m@mdorst.net
    user = git
	name = Michael Dorst
[alias]
	s = status -s -u
	l = log --oneline --graph
	c = commit -m
	ls = ls-tree -r --name-only
	unstage = reset head
[core]
	pager = less -X -F
[color]
	ui = always
[credential]
	helper = store
