[user]
    email = m@mdorst.net
    user = git
    name = Michael Dorst
[alias]
	ld = log --oneline master..HEAD
	lld = log master..HEAD
[core]
    pager = less -X -F
[color]
    ui = always
[credential]
    helper = store
[rebase]
	autosquash = true
